pre {
    font-family: "Courier New", Courier, mono;
    font-style: normal;
    background-color: #FFFFFF;
    white-space: pre
}

h1 {
    margin: 1ex 0ex 1ex 0ex;
    padding: 0ex;
    line-height: 3ex;
    font-weight: 900;
    color: #666;
}

h2 {
    margin: 2ex 0ex 1ex 0ex;
    padding: 0ex;
    line-height: 2ex;
    font-weight: 700;
    color: #444;
}

h3 {
    margin: 1ex 0ex 1ex 0ex;
    padding: 0ex;
    line-height: 1.6ex;
    font-weight: 700;
    color: #222;
}

p {
    font-family: helvetica, tahoma, arial, verdana, sans-serif;
    margin: 0ex 0ex 0ex 0ex;
    padding: 2ex;
}

img {
    border: 0;
}

li {
    font-family: helvetica, tahoma, arial, verdana, sans-serif;
    margin: 0ex 0ex 0ex 0ex;
    padding: 0ex;
}

table {
    border-width: 0;
    empty-cells: show;
    background-color: white;
}

td, th {
    empty-cells: show;
    padding: .3ex .3ex;
    vertical-align: top;
    text-align: center;
    border-width: 0;
    border-spacing: 0;
    background-color: white;
}

th {
    font-weight: bold;
    background-color: white;
}

a, a:visited, a:link {
  color: #039;
  text-decoration: none;
  font-family: helvetica, tahoma, arial, verdana, sans-serif;
}

a:hover {
  color: #69f;
}
#index{
    width:1400px;
    float:left;
    padding:50px;
    background:inherit;
    text-align:center;
    align-content: center;
}
#index a{
    align-items: center;
}
#index input[type="submit"]{
    padding: .3ex;
    color: #fff;
    background-color: #6699ff;
    text-decoration: none;
    font-family: helvetica, tahoma, arial, verdana, sans-serif;
    font-size: 1.5ex;
    border-width:0;
}
#index input[type="submit"]:hover {
    color: #000;
    background-color: #54c07a;
    cursor:pointer;
}

#index table{
    margin-left:auto;
    margin-right:auto;
}
#Catalog input[type="submit"]{
    padding: .3ex;
    color: #fff;
    background-color: #6699ff;
    text-decoration: none;
    font-family: helvetica, tahoma, arial, verdana, sans-serif;
    font-size: 1.5ex;
    border-width:0;
}
#Catalog input[type="submit"]:hover {
    color: #000;
    background-color: #54c07a;
    cursor:pointer;
}

#Catalog table{
    margin-left:auto;
    margin-right:auto;
}

#Catalog {
    width:350px;
    float:left;
    padding:10px;
    background:inherit;
    text-align:center;
    align-content: center;
}
#header {
    background-color:royalblue;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:darkgrey;
    height:300px;
    width:100px;
    float:left;
    padding:5px;
}

#bottom {
    text-align: center;
}

#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}
#top{
    text-align: left;
    padding: 5px;
}
#count{
    align-items: end;
}
